{% extends 'base.html' %}
{% block title %}Social Network{% endblock %}
{% block content %}
{% for post in posts %}
<div style="text-align:center;">
  <h2>
    <a href="{{ post.get_absolute_url }}">
      {{ post.title }}
    </a>
    <br>

  </h2>
  <p class="date">
    Published {{ post.publish }} by <a href="{{ post.author.get_absolute_url }}" class="title">
        {{ post.author }}
      </a>
    <img src="{% if user.profile.photo %}{{user.profile.photo.url}}{% else %}{% endif %}" alt=""
           style="width: 50px;height:50px;">
  </p>
  {{ post.body|truncatewords:30|linebreaks }}
</div>
<hr>

{% endfor %}
<div style="text-align:center;">
{% include "pagination.html" with page=page_obj %}
</div>
{% endblock %}
