{% extends 'base.html' %}
{% load static %}
{% block title %}Social Network{% endblock %}




<!--<div class="col-sm-12" style="text-align: center;">-->
<!--    <hr>-->
<!--    <div style="text-align: left;">-->
<!--        <h2>{{post.title}}</h2>-->

<!--        <h5><span class="glyphicon glyphicon-time"></span> Post by <a href="{{ post.user.get_absolute_url }}"><img-->
<!--                src="{% if user.profile.photo %}{{post.user.profile.photo.url}}{% else %}{% endif %}" alt=""-->
<!--                style="width: 50px;height:50px; border-radius: 50%; border: solid black 2px;">{{post.user}}</a>,-->
<!--            {{post.publish|date:"d,M,Y"}}</h5>-->
<!--    </div>-->
<!--    <br>-->
<!--    <p>{{ post.body|truncatewords:50|linebreaks }}</p>-->
<!--    <br>-->

<!--    <a href="{{ post.get_absolute_url }}">Read more</a>-->
<!--</div>-->

<!--<div style="text-align:center;">-->
<!--    {% include "pagination.html" with page=page_obj %}-->
<!--</div>-->




