{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<p class="date">
{{ post.publish }}
  author: <a href="{{ post.user.get_absolute_url }}" class="title">
        {{ post.user }}
      </a>
</p>
{{ post.body|linebreaks }}
{{post.publish__year}}
<br>
{% if request.user != post.user %}
{% else %}
<a href="{% url 'blog:delete_post' token=post.token %}">delet</a>
{% endif %}
<form method="POST">

  <!-- Security token -->

  {% csrf_token %}
  <!-- Using the formset -->
  {{ form }}

  <input type="submit" value="Submit">
</form>
{% for comment in comments %}
{{  comment.user }}
<br>
{{ comment.content }}
<br>
{{  comment.created_at }}
<br>
<hr>
{% endfor %}

{% endblock %}