{% extends "base.html" %}
{% block title %}People{% endblock %}
{% block posts %}
<div>
    <div style="text-align:center;">
        <h1>People</h1>
    </div>
    <hr>
    <div id="people-list">
        {% for user in users %}
        <div class="user">

            <div class="info">
                <a href="{{ user.get_absolute_url }}" class="title">
                    {{ user.username }}

                <img src="{% if user.profile.photo %}{{user.profile.photo.url}}{% else %}{% endif %}" alt=""
                     style="width: 100px;height:100px;">
                    </a>
                <hr>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}